body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: large;
  line-height: 1.5;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.disclaimer {
  cursor: pointer;
}

.banner {
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: sticky;
  top: 0px;
}

.container {
  min-height: 100vh;
  width: 90%;
  max-width: 1024px;
  margin: 20px auto;
}

.sidebar {
  line-height: 1.5;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  float: right;
  padding: 15px;
}

.main-article {
  background-color: #e9ecef;
  padding: 20px;
}

.main-article::after { /* Hack para que se acomode */
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

.page-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 10%;
}